#game_area {
    /*height: 480px;
    width: 640px;
    width: 100%;
    height: auto;*/
    border: 1px solid black;
    cursor:crosshair;
}

#game_area:active {
    cursor: crosshair;
}

#notes {

}

.entry {
    display: inline;
}